@use "../../sass/modules/mixins.scss";

.homeContainer {
    @include mixins.flex($g: 10px);
    min-height: 70vh;
    width: 90vw;
    border: 3px solid black;
    padding: 20px;

    margin: 50px;

    position: relative;

    h1 {
        position: absolute;
        top: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

    h2 {
        @extend h1;
        top: 60px;
        color: rgb(253, 104, 104);
    }

    button {
        background: #494949;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 10px;
        font-weight: bolder;
        transition: font-size 500ms;

        &:hover {
            cursor: pointer;
            background: #363636;
        }
    }

    & > button {
        font-size: 2.1em;
    }

    ul { list-style: none; }
}

.logo {
    width: 250px;
    height: auto;
    right: -30px;
    top: -100px;
    position: absolute;
}