@use "../../sass/modules/mixins.scss";

.homeContainer {
    @include mixins.flex();
    min-height: 70vh;
    width: 90vw;
    border: 3px solid black;
    padding: 20px;

    margin: 50px;

    position: relative;

    button {
        background: #494949;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 10px;
        font-weight: bolder;
        transition: font-size 500ms;

        &:hover {
            cursor: pointer;
            background: #363636;
        }
    }

    ul { list-style: none; }
}

.logo {
    width: 250px;
    height: auto;
    right: -30px;
    top: -100px;
    position: absolute;
}