@use "./modules/mixins.scss";
@use "./modules/colors.scss" as *;

.getOldCharacterDiv {
    position: absolute;
    bottom: -40px;
    font-size: 1.4em;
    background: white;
    box-shadow: 3px 3px 10px black;
    padding: 10px;
    border-radius: 4px;
}

.addIcon {
    color: $global-green;
    font-size: 3em;

    transition: font-size 500ms;
    &:hover {
        cursor: pointer;
        font-size: 4em;
    }
    &:active {
        font-size: 3.5em;
    }
}

.profilesList {
    @include mixins.flex($g: 30px);
    flex-wrap: wrap;
    min-height: 100%;
}
