@use "../../sass/modules/mixins.scss";

.contentContainer {
    @include mixins.flex();
    height: 50%;
    gap: 10px;
    z-index: 1;

    span {
        @include mixins.flex($dir: column, $g: 10px);
    }
}
