@use "../sass/modules/mixins.scss";
@use "../sass/modules/colors.scss" as *;

.advantagesList {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 40px;
    
    li {
        @include mixins.flex($jc: space-between);
        margin-bottom: 10px;
    }

    input {
        width: 30%;
        text-align: center;
        border: 1px solid black;
        font-weight: bold;
    }
}
.vantagens {
    color: $advantage;
    font-size: 1.1em;
}
.desvantagens {
    @extend .vantagens;
    color: $disadvantage;
}

/* STATUS */
.statusArea {
    grid-area: status;
    @include mixins.flex($dir: column);
    gap: 12px;
}

/* DEFESA */
.defendArea {
    grid-area: defesa;

    input[type="checkbox"] {
        accent-color: #535353;
        color: white;
    }
}
.defendContainer {
    @include mixins.flex($jc: space-around);
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.caArea div, .shieldArea {
    @include mixins.flex($jc: space-between, $ai: center);
    gap: 10px;
}


.levelArea {
    grid-area: nivel;

    button:disabled {
        transform: none;
        background: rgba(155, 155, 155, 0.788);
    }
}

/* REAÇÕES */
.reactionsArea {
    grid-area: reacoes;
}
.reactionsContainer {
    @include mixins.flex($dir: column);
    gap: 8px;
    margin-top: 10px;
}


/* DADOS */
.dicesArea {
    grid-area: dados;

    img {
        display: block;
        margin: auto;
    }
}

.mentalButtons {
    @include mixins.flex();
    width: 100%;
    gap: 10px;
    margin-top: 10px;

    button {
        font-size: 10pt;
        width: 100%;
    }
}

.healthArea {
    grid-area: saude;
}

.healthContainer {
    @include mixins.flex();
    position: relative;

    p {
        @include mixins.flex();
        width: 100%;
        top: 0;
        position: absolute;
        color: white;
        font-size: 1.2em;
        font-weight: bolder;
        text-shadow: 3px 3px 3px #0000003a;
    }
    input {
        width: 20%;
        text-align: center;
        background-color: #00000000;
        color: white;
        border: none;
        font-size: 1.2em;
        text-shadow: 3px 3px 3px #0000003a;
    }
}


.charMove {
    @include mixins.flex($jc: flex-start, $dir: column);
    height: 100%;
    font-weight: bold;
    font-size: 4vw;
}

.rollButton {
    font-size: 12pt;
    transition: transform 500ms;
    &:hover {
        transform: scale(1.2);
    }
}