@use "sass:color";
@use "../sass/modules/mixins.scss";
@use "../sass/modules/colors.scss" as *;

.imageFormContainer {
    @include mixins.flex();
    margin-top: 50px;
}

.battleArea {
    grid-area: batalha;
}

.abilitysArea {
    @include mixins.flex($dir: column);
    gap: 20px;
    grid-area: hab;
}

.abilitys, .standJump {
    @include mixins.flex($dir: column);
    gap: 10px;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
}

.substandArea {
    grid-area: substand;

    h2 {
        margin: 10px 0;
    }
}

.substandAbilityContainer {
    @include mixins.flex($dir: column);
    gap: 5px;
    margin-top: 5px;
}

.infosContainer {
    @include mixins.flex($dir: column);
    gap: 5px;
    padding: 10px;

    p {
        font-size: 1.3rem;
        font-weight: bold;
    }
    div {
        @include mixins.flex($jc: space-between);
        width: 100%;
    }
}

.subContainer {
    @include mixins.flex($dir: column, $g: 10px);
    padding: 10px;
    
    li {
        @include mixins.flex($jc: space-between);
        width: 100%;
        font-weight: bolder;
    }
}


.actsArea {
    @include mixins.flex($dir: column, $g: 30px);
    grid-area: acts;
}

.act {
    width: 100%;
}
