@use "../../sass/modules/mixins.scss";
@use "../../sass/modules/colors.scss" as *;

.levelSpanContainer {
    @include mixins.flex($dir: column);
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

.levelContainer {
    position: relative;
    width: 90%;
}

.levelXp {
    @include mixins.flex();
    position: absolute;
    top: 0;
    height: 30px;
    width: 90%;
    color: white;
    text-shadow: 3px 3px 3px #0000003b;

    input {
        width: 30%;
        text-align: center;
        font-size: 1.05em;
        color: white;
        text-shadow: 3px 3px 3px #0000003b;
    }
}
.actualLevel {
    background-color: #00000000;
    border: none;
}